body 
{
  background-color: #000000;
  color: lightgrey; 
  font-size: 28px;
  font-family: 'Roboto Mono';
  font-weight: 700;
}

#container 
{
  width:900px;
  margin-left:auto;
  margin-right:auto;
  
}

#board
{
  width: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 48px;
  min-height: 60px;
}

#gallows
{
  float:left;
  width: 450px;
  text-align: center;
  min-height: 280px;   /*after change picture want to avoid 'jumping' of screen for time of loading picture -> annoying! */
}

#alphabet
{
  float: left;
  width: 450px;
  text-align: center;
  min-height: 280px;
}

.letter 
{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
    
    
}

.letter:hover
{
    background-color: #222222;
    color: white;
    border: 3px solid white;
}
